<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addContactServlet</display-name>
    <servlet-name>addContactServlet</servlet-name>
    <servlet-class>servlets.addContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addContactServlet</servlet-name>
    <url-pattern>/addContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeContactServlet</display-name>
    <servlet-name>removeContactServlet</servlet-name>
    <servlet-class>servlets.removeContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeContactServlet</servlet-name>
    <url-pattern>/removeContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchContactServlet</display-name>
    <servlet-name>searchContactServlet</servlet-name>
    <servlet-class>servlets.searchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchContactServlet</servlet-name>
    <url-pattern>/searchContact</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
org.springframework.web.context.ContextLoaderListener
</listener-class>
  </listener>
  <listener>
    <listener-class>
org.springframework.web.context.request.RequestContextListener
</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>servlets.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>